.moscow-weather-bar{
  width: 25px;
  height: 100px;
  position: absolute;
  bottom: 0px;
}

.moscow-weather-bar:hover {
  background-image: linear-gradient(to top ,red, orange, yellow, green);
  transition: ease-in-out 3s;
}

