.App {
  text-align: center;
  margin: 10px;
}

.App a {
  text-align: center;
  text-decoration: none;
  margin: 10px 5px;
  border: 1px solid #616161;
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #2e2e2e
}

.App a:active{
  color: #616161;
  background: #2e2e2e
}

.App div {
  margin-top: 15px;
}
